@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  @include sm {
    justify-content: space-between;
  }
  .pp {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    @include sm {
      width: 45px;
      height: 45px;
    }
  }

  .aboutUser {
    display: flex;
    align-items: center;
    gap: 10px;

    .username {
      font-weight: 500;
      color: #404145;
      font-size: 20px;

      @include sm {
        font-size: 17px;

        text-wrap: nowrap;
        padding: 0px !important;
      }
    }

    .fiverr {
      background-color: #122349;
      border-radius: 5px;
      color: white !important;
      font-weight: 500;
      padding: 0px 5px;

      @include sm {
        padding: 3px 5px;

        font-size: 14px;
        text-align: center;
        text-wrap: nowrap;
      }

      span {
        color: rgb(4, 172, 4);
      }
    }
  }

  .review {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 7px;
    margin-left: 8px;
    @include sm {
      margin-top: 5px;
      font-size: 14px;
    }

    img {
      width: 17px;
    }
  }
}
