@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";
.reviewCard {
  border: 0.5px solid lightgray;
  border-radius: 15px;
  padding: 15px 20px;

  @include sm {
    margin-top: 15px;
  }
  .user {
    display: flex;
    align-items: center !important;
    margin: 0px !important;
    padding: 0px !important;
    .profilee {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    p {
      @include profileColor;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      span {
        font-weight: 700;
        color: #383738;
      }
      .country {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 20px;
        }
        span {
          font-weight: 400;
          font-size: 13px;
          color: gray;
        }
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(233, 231, 231);
    margin: 10px 0px 15px 0px;
  }
  .stars {
    display: flex;
    align-items: center;
    gap: 4px;
    img {
      width: 15px;
      height: 15px;
      margin-bottom: 3px;
    }
    span {
      font-weight: 700;
      font-size: 15px;
    }
  }
  p {
    margin: 20px 0px;
    padding: 0px !important;
  }
  .price_duration {
    display: flex;
    gap: 60px;

    .price {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .line1 {
        font-weight: 500;
        font-size: 15px;
        color: #2e2f30;
      }
      .line2 {
        font-weight: 400;
        font-size: 13px;
        color: gray;
      }
    }
  }
}
.helpful {
  display: flex;
  align-items: start;
  padding: 10px 20px;
  gap: 10px;
  margin-bottom: 20px;

  span {
    font-weight: 500;
    font-size: 15px;
  }
  img {
    width: 14px;
    cursor: pointer;
  }
}
