.checkoutForm {
  display: flex;

  .orderDetail {
    flex: 1;
  }
  form {
    flex: 1;
  }
}

.checkoutBtn {
  font-size: 18px !important;
  display: flex;
  align-items: center;
  gap: 0px 8px;
  width: 100%;
}
