@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";
.messages {
  margin-top: 60px;

  @include sm {
    margin-top: 0px;
  }

  .container {
    padding: 50px 0px;

    @include sm {
      padding: 20px 0px;
    }

    .title {
      display: flex;
      justify-content: start;
      align-items: center;
      color: $black;
      @include sm {
        padding: 0px 20px;
        font-size: 10px;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        text-align: center !important;

        padding: 10px; // Add some padding for better spacing
      }
      th:nth-child(2), // "Title" column header
      td:nth-child(2) {
        // "Title" column data cells
        width: 45%; // Adjust the width of the "Title" column as needed
        text-align: left; // Optional: Align text to the left for better readability

        @include sm {
          width: 40%;
        }
      }
      tr {
        height: 100px;

        td {
          padding: 10px;
          font-size: 15px;

          &:first-child {
            font-weight: 500;
          }
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
            text-align: start;
          }
          button {
            background-color: #1dbf73;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            @include sm {
              font-size: 13px;
              padding: 7px;
              text-wrap: nowrap;
            }
          }
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
