@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";
.add {
  margin-top: 100px;
  @include sm {
    margin-top: 0px !important;
  }

  .container {
    padding: 50px 0px;
    h1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #404145;
      font-size: 19px;
      margin-bottom: 30px;
      @include sm {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }
    @include md {
      padding: 0px 20px;
      margin-top: 14px;
    }
    @include sm {
      padding: 0px 20px;
      margin-top: 14px;
    }

    .section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 100px;

      @include sm {
        grid-template-columns: repeat(1, 1fr);
      }

      .input_div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;

        @include sm {
          margin-bottom: 0px;
        }

        .img_row {
          display: flex;
          align-items: center;
          gap: 10px;
          input {
            @include sm {
              width: 60% !important;
            }
          }
          button {
            background-color: #1dbf73 !important;
            margin: 0px !important;
            width: 150px;
            border-radius: 3px !important;
            font-size: 15px !important;

            @include sm {
              flex: 1;
              font-size: 13px !important;
            }
          }
        }
        label {
          color: gray;
          font-size: 17px;
          @include sm {
            font-size: 15px;
          }
        }

        .point {
          display: flex;
          flex-direction: row !important;
          justify-content: space-between;
          gap: 10px;
          align-items: center !important;
          input {
            width: 85% !important;
            @include sm {
              width: 100% !important;
            }
          }
          .controls {
            display: flex;
            align-items: center;
            width: 20%;
            gap: 0px 10px;
            .addF {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              color: #1dbf73;
              justify-content: center;
              align-items: center;
              background-color: rgb(240, 237, 237);
              cursor: pointer;
              font-size: 22px;
              font-weight: 500;
              &:hover {
                background-color: #1dbf73;
                color: white;
              }
              @include sm {
                width: 33px;
                height: 33px;
                font-size: 19px;
              }
            }
            .removeF {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: rgb(247, 108, 108);
              background-color: rgb(240, 237, 237);
              cursor: pointer;
              font-size: 30px;
              font-weight: 500;
              &:hover {
                background-color: rgb(247, 108, 108);
                color: white;
              }
              @include sm {
                width: 33px;
                height: 33px;
                font-size: 25px;
              }
            }
          }
        }
        input,
        textarea,
        select {
          padding: 17px;
          border-radius: 3px;
          font-size: 16px;
          outline: none;
          border: 1px solid lightgray;
          &::placeholder {
            font-size: 17px;
          }
          &:focus {
            border: 1px solid #1dbf73;
          }

          @include sm {
            padding: 13px;
          }
        }

        select {
          font-size: 15px;
        }

        &.img input {
          padding: 15px 0px;
          border: none;
        }
        .tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          padding: 10px 0px;
          .tag {
            border: 1px solid lightgray;
            border-radius: 4px;
            padding: 10px;
            position: relative;
            @include sm {
              padding: 7px;
            }
            .delete {
              position: absolute;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: #f5f5f5;
              display: flex;
              justify-content: center;
              align-items: center;
              right: -10px;
              top: -10px;
              padding: 4px;
              cursor: pointer;
              &:hover {
                background-color: rgb(248, 55, 55);
                color: white;
              }
            }
          }
        }
      }
    }

    button {
      border: none;
      margin-top: 40px;
      float: right;
      padding: 17px;
      color: white;
      font-weight: 500;
      width: 46%;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 0px 10px;
      justify-content: center !important;
      background-color: #1dbf73;
      border-radius: 3px;
      cursor: pointer;

      @include sm {
        padding: 13px 10px;
        width: 100%;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed; /* Optional: Change cursor to indicate disabled state */
      }
    }
  }
}
