@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";

.orders {
  margin-top: 100px;

  @include sm {
    margin-top: 0px;
  }

  .container {
    padding: 50px 0px;

    @include sm {
      padding: 20px 0px;
    }

    .title {
      display: flex;
      justify-content: start;
      align-items: center;
      color: #404145;

      @include sm {
        padding: 0px 20px;
        font-size: 10px;
      }
    }

    table {
      width: 100%;
      margin-top: 30px;
      @include sm {
        overflow-x: auto; // Enable horizontal scroll on smaller screens
        display: block; // Ensures the table takes the scroll behavior properly
      }
      th {
        background-color: #f5f5f5;
      }
      th,
      td {
        text-align: center;
        padding: 10px; // Add some padding for better spacing
      }

      th:nth-child(2), // "Title" column header
      td:nth-child(2) {
        // "Title" column data cells
        width: 30%; // Adjust the width of the "Title" column as needed
        text-align: left; // Optional: Align text to the left for better readability
      }
      td {
        .checkbox-container {
          display: inline-block;
          position: relative;
          padding-left: 25px;
          margin-right: 20px;
          cursor: pointer;
          font-size: 16px;
        }

        .checkbox-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .custom-checkbox {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          background-color: #eee;
          border-radius: 3px;
        }

        .checkbox-container input:checked + .custom-checkbox {
          background-color: green; /* Default check color for completed */
        }

        .checkbox-container input:checked + .custom-checkbox.pending {
          background-color: red; /* Red for pending status */
        }

        .checkbox-container input:checked + .custom-checkbox.completed {
          background-color: green; /* Green for completed status */
        }

        .custom-checkbox:after {
          content: "";
          position: absolute;
          display: none;
        }

        .checkbox-container input:checked + .custom-checkbox:after {
          display: block;
        }

        .checkbox-container .custom-checkbox:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
      tr {
        height: 50px;

        &:nth-child(even) {
          background-color: #1dbf730f;
        }

        img {
          width: 50px;
          height: 25px;
          object-fit: contain;
          margin: 0px auto;
        }

        .message {
          width: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
