@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";
.gig-card {
  border-radius: 8px;
  overflow: hidden;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  background-color: #fff;

  @include sm {
    padding: 0px;
    margin-bottom: 15px;
  }

  .img_box {
    position: relative;
    height: 180px;
    width: 100%;

    .arrow {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .arrow {
      opacity: 1;
      z-index: 99;
    }

    /* Style for disabled arrows when visible */
    &:hover button.arrow:disabled {
      opacity: 0.5; /* Reduced opacity for disabled buttons when visible */
    }

    .gig-card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      z-index: 0;
    }

    button.arrow {
      background-color: #f5f5f5;
      border-radius: 50%;
      position: absolute;
      top: 50%; /* Vertically center */
      transform: translateY(-50%); /* Adjust vertical alignment */
      z-index: 99;
      display: flex;
      padding: 4px;
      border: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0; /* Initial opacity set to 0, to be shown on hover */
      transition: opacity 0.3s ease; /* Smooth transition effect */

      img {
        width: 20px;
        height: 20px;
      }
    }

    .prev-arrow {
      left: 10px; /* Position arrow on the left side */
      z-index: 1;
    }

    .next-arrow {
      right: 10px;
      z-index: 1;
      /* Position arrow on the right side */
    }
    .pagination {
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-top: 10px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      .indicator {
        width: 8px;
        height: 8px;
        background-color: #f5f5f5;
        border-radius: 50%;

        transition: opacity 0.3s ease;
        opacity: 0.5; /* Default opacity */

        &.active {
          background-color: #f5f5f5; /* Change color to indicate active state */
          opacity: 1; /* Full opacity when active */
        }
      }
    }
  }

  .gig-card-content {
    padding: 10px 5px;

    .info {
      display: flex;
      align-items: center;
      gap: 10px;

      .profile-picture {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .desc {
      font-size: 15px;
      margin: 5px 0;
      color: #666;
    }

    .review_div {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 7px 0;

      img {
        width: 14px;
        height: 14px;
        margin-bottom: 1px;
      }

      span:nth-child(2) {
        font-weight: 500;
        color: rgb(26, 25, 25);
        font-size: 16px;
      }

      span:nth-child(3) {
        font-weight: 400;
        color: gray;
        font-size: 16px;
      }
    }

    p {
      font-weight: 700;
      color: $black;
    }
  }
}
