@import "./../../styles/variables.scss";
@import "./../../styles/resposive.scss";

.orders {
  margin-top: 60px;

  @include sm {
    margin-top: 0px;
  }

  .container {
    padding: 50px 0px;

    @include sm {
      padding: 20px 0px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $black;

      @include sm {
        padding: 0px 20px;
        font-size: 10px;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      @include sm {
        overflow-x: auto; // Enable horizontal scroll on smaller screens
        display: block; // Ensures the table takes the scroll behavior properly
      }

      th,
      td {
        text-align: center;
        padding: 10px; // Add some padding for better spacing
      }

      th:nth-child(2), // "Title" column header
      td:nth-child(2) {
        // "Title" column data cells
        width: 30%; // Adjust the width of the "Title" column as needed
        text-align: left; // Optional: Align text to the left for better readability
      }

      tr {
        height: 50px;

        &:nth-child(even) {
          background-color: #1dbf730f;
        }

        img {
          width: 50px;
          height: 25px;
          object-fit: contain;
          margin: 0px auto;
        }

        .message {
          width: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
